.logo{
  font-family: Helvetica;
  font-size: 100px;
}
.slider-container {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
  border-radius: 12px;
}

.slider-track {
  display: flex;
  transition: transform 0.7s ease-in-out;
  height: 100%;
}

.slider-image {
  min-width: 100%;
  height: 100%;
  object-fit: cover;
}