.searchBox{
    border: 2px solid #000000;
    text-align: right;
    width: 280px;
    height: 60px;
    padding-right: 5px;
}
.filter{
    margin-bottom: 80px;
}

.filter1{
    border: 2px solid #000000;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.filter2{
    border: 2px solid #000000;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.filter3{
    border: 2px solid #000000;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.filter4{
    border: 2px solid #000000;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}


.link {
    text-decoration: none;
    color: black; 
    padding: 5px 10px;
    margin: 5px;
  }
  
.link:active {
    color: rgb(255, 255, 255);
    background-color: #000000;
    
  }

.product{
    border: 1px solid #000000;
}
  
.product-bookmark{
    font-size: 12px;
    text-align: end;
    padding: 5px;
    text-decoration: underline;
  }

.product-addtocart{
    font-size: 12px;
    text-align: start;
    padding: 5px;
    text-decoration: underline;
  }
  
.product-information{
    text-align: center;
  }

  .product-img {
    width: 350px;
    height: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .product-img-sub {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .description{
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .link.active .filter1,
  .link.active .filter2,
  .link.active .filter3,
  .link.active .filter4 {
    background-color: #d3d3d3; /* màu xám nhạt */
    color: black;
    font-weight: bold;
  }